body {background-image: url(https://contents.mediadecathlon.com/s913568/k$6daf6527b1793d2dea8676f6fbede526/1180x0/2437pt1539/4309xcr3078/Quest-ce-quune-energie-renouvelable.jpeg?format=auto&quality=80);}
header {background-color: #C2FAFA;}
h1 {text-align: center;}
nav {background-color: #10750D;}
b {color: #17B112;}
p {font-style: italic;color: darkgrey;text-align: center;}
footer {background-color: whitesmoke;}